body{
    width:95%;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
}

header{
    text-align: center;
    color:darkblue;
    background-image: url("../images/bgsky3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    height:200px;
    position:relative;
}

header p:first-child{
    font-size: 300%;
    font-style: italic;
}
header p:nth-child(2){
    font-size: 240%;
}
header img{
    position: absolute;
    bottom: 60px;
    right: 250px;
}
section{
    float:right;
    width:25%;
    background-color: #DDDDDD;
    border:1px solid #999999;
    box-sizing: border-box;
    color: #666666;
    font-size:90%;
}
section p{
    padding: 10px;
}
section h3{
    color: white;
    background-color: blue;
    text-align: center;
    font-size:120%;
}
main{
    width:75%;
}
#intro{
    background-color: white;
    color: black;
    width: calc(100% - 170px);
    float:right;
    text-align: justify;
    padding: 20px 30px 20px 0;
}
#intro p{
    margin: 0;
}
#intro span{
    color: blue;
    font-weight: bold;
}
#logo{
    float: left;
    width: 100px;
    padding: 20px 20px 0 20px;
}

.article{
    float: left;
    background-color: #999999;
}
.foto{
    float: left;
    margin: 20px;
    padding: 10px;
    background-color: white;
    border: 1px dashed #999999;
}
#bottom{
    clear:both;
    width:100%;
    background-color:#666666;
    color: white;
    line-height: 2em;
}
#bottom div{
    float: left;
    padding-left:120px;
}
#bottom a{
    color:white;
}
#bottom a:hover{
    color:red;
}
footer{
    clear:both;
    text-align: center;
}