table{
    margin: auto;
    width: 50em;
    height: 30em;
}
thead tr:first-child{
    background-color: rgb(170,170,200);
}

.maand th{
    color: rgb(200,190,240);
    background-color: rgb(35,37,70);
}
tbody tr td:first-child, td:last-child{
    background-color: rgb(255, 220, 220);
}
.vorigevolgende{
    background-color: gray !important;
}
.vrijedag{
    background-color: rgb(250,120,120)
}